body {
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

#led {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px; 
}
